MyMusicApplication/MyMusicProject/Resources/MyMusicAPI.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="MyMusicAPI"
     targetNamespace="http://xmlns.oracle.com/MyMusicApplication/MyMusicProject/MyMusicAPI"
     xmlns:tns="http://xmlns.oracle.com/MyMusicApplication/MyMusicProject/MyMusicAPI"
     xmlns:inp1="http://www.undertheredcloud.org/api/mymusic"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="MyMusicAPI">
        <plnk:role name="MyMusicAPIProvider" portType="tns:MyMusicAPI_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.undertheredcloud.org/api/mymusic" schemaLocation="../Schemas/MyMusic.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getAlbums_inputMessage">
        <wsdl:part name="request" element="inp1:getAlbumsRequest"/>
    </wsdl:message>
    <wsdl:message name="getAlbums_outputMessage">
        <wsdl:part name="reply" element="inp1:getAlbumsResponse"/>
    </wsdl:message>
    <wsdl:message name="createAlbum_inputMessage">
        <wsdl:part name="request" element="inp1:createAlbumRequest"/>
    </wsdl:message>
    <wsdl:message name="createAlbum_outputMessage">
        <wsdl:part name="reply" element="inp1:createAlbumResponse"/>
    </wsdl:message>
    <wsdl:message name="getAlbumById_inputMessage">
        <wsdl:part name="request" element="inp1:getAlbumByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="getAlbumById_outputMessage">
        <wsdl:part name="reply" element="inp1:getAlbumByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAlbum_inputMessage">
        <wsdl:part name="request" element="inp1:updateAlbumRequest"/>
    </wsdl:message>
    <wsdl:message name="updateAlbum_outputMessage">
        <wsdl:part name="reply" element="inp1:updateAlbumResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteAlbum_inputMessage">
        <wsdl:part name="request" element="inp1:deleteAlbumRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteAlbum_outputMessage">
        <wsdl:part name="reply" element="inp1:deleteAlbumResponse"/>
    </wsdl:message>
    <wsdl:portType name="MyMusicAPI_ptt">
        <wsdl:operation name="getAlbums">
            <wsdl:input message="tns:getAlbums_inputMessage"/>
            <wsdl:output message="tns:getAlbums_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createAlbum">
            <wsdl:input message="tns:createAlbum_inputMessage"/>
            <wsdl:output message="tns:createAlbum_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getAlbumById">
            <wsdl:input message="tns:getAlbumById_inputMessage"/>
            <wsdl:output message="tns:getAlbumById_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateAlbum">
            <wsdl:input message="tns:updateAlbum_inputMessage"/>
            <wsdl:output message="tns:updateAlbum_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAlbum">
            <wsdl:input message="tns:deleteAlbum_inputMessage"/>
            <wsdl:output message="tns:deleteAlbum_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyMusicAPI_ptt-binding" type="tns:MyMusicAPI_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAlbums">
            <soap:operation soapAction="getAlbums"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAlbum">
            <soap:operation soapAction="createAlbum"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAlbumById">
            <soap:operation soapAction="getAlbumById"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAlbum">
            <soap:operation soapAction="updateAlbum"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAlbum">
            <soap:operation soapAction="deleteAlbum"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
